<html>
  <head>
    <meta charset="UTF8">
    <style>
      html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      body{
        display: flex;
        justify-content:center;
        align-items:center;
      }
    </style>
  </head>
  <body>

    <canvas height="500px" width="500px" id="target"></canvas>
    <canvas height="500px" width="500px" id="target_2"></canvas>

    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/underscore.js/1.7.0/underscore-min.js"></script>

    <script src="../js/draws.js"></script>
    <script src="../js/math_utils.js"></script>
    <script src="../js/pixels.js"></script>
    <script src="../js/shape_utils.js"></script>
    <script src="../js/distortions.js"></script>

<script>
  var canvas = document.getElementById('target');
  var ctx = canvas.getContext('2d');
  var ctx_2 = $('#target_2')[0].getContext('2d');
  var img = new Image;
  img.onload=function() {
    ctx.drawImage(img,
      0,0,img.width,img.height,
      0,0,500,500);

    var chip_counts = 20;
    var source_size = 100;
    var target_data = ctx.createImageData(
                        source_size,
                        source_size);
    var source_data = ctx.getImageData(
                        0,
                        0,
                        500,
                        500);
    var side_len = source_size/chip_counts;
    var target_grid = grid_walker(
                        create_grid(chip_counts+1,
                                    chip_counts+1),
                        function ( point ) {
                          return [point[0] * side_len,
                                  point[1] * side_len];
                        });

    var source_grid = distort_grid_collapse(
                        target_grid,
                        2,
                        source_size/2);
    // 
    // 将完整的扭曲变换转换成网格的线性变换
    // 
    function draws ( target_grid, source_grid ) {
        
      console.time('distortion');
      new chip(0,0,chip_counts,chip_counts)
        .walk(function( x,y ) {
          // console.log( x, y );
          var start = target_grid[y][x];
          // console.log( 'target:', start );
          var target_chip = new chip(
                              start[0],
                              start[1],
                              side_len,
                              side_len
                            );
          // console.log( 'source:', source_grid[y][x] );
          var source_chip = new poly(
                              source_grid[y][x],
                              source_grid[y][x+1],
                              source_grid[y+1][x],
                              source_grid[y+1][x+1]
                            );
          trans_img_chip( target_chip, source_chip,
                          target_data, source_data);
        });
      console.timeEnd('distortion');
      ctx_2.putImageData(target_data,0,0);
    }

    var offset = $('#target').offset();
    function hook_move ( e ) {
      var top_l    = e.clientY - source_size/2
                     - offset.top;
      var left_t   = e.clientX - source_size/2
                     - offset.left;
      var n_source = grid_walker(source_grid,
                      function( point ) {
                        return [point[0] + left_t,
                                point[1] + top_l];  
                      }); 
      draws(target_grid,n_source);
      ctx.drawImage(img,0,0,500,500);
      draw_grid(ctx,n_source);
    }

    hook_move = _.debounce(hook_move,30);

    function add_hook( e ){
      $('body')[0].addEventListener('mousemove',hook_move);
    }

    function remove_hook(){
      $('body')[0].removeEventListener('mousemove',hook_move);
    }
    $('#target')
      .on('mouseenter', add_hook)
      .on('mouseleave', remove_hook);
  };
  img.src='../imgs/25791422844829123.JPG';
</script>

  </body>
</html>