<html>
  <head>
    <meta charset="UTF8">
    <style>
      html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      body{
        display: flex;
        justify-content:center;
        align-items:center;
      }
    </style>
  </head>
  <body>

    <canvas height="500px" width="500px" id="target"></canvas>
    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="../js/draws.js"></script>
    <script src="../js/math_utils.js"></script>
    <script src="../js/pixels.js"></script>
    <script src="../js/shape_utils.js"></script>

    <script>
      var canvas = document.getElementById('target');
      var ctx = canvas.getContext('2d');
      function multi ( n ) {
        return function( m ) {
          return m * n;
        }
      }
      var grid = grid_walker(create_grid(11,11),
                  function( point ) {
                    return point.map(multi(50));
                  });
      
      draw_grid( ctx, grid );
      // point [0,1]
      function trans_func_reverse ( dis_r ) {
        return 1-dis_r;
      }
      function trans_func_reverse_sqrt ( dis_r ) {
        return Math.sqrt(1-dis_r);
      }
      function trans_func_cos( dis_r ) {
        return Math.cos(0.5*Math.PI*(dis_r));
      }
      function trans_func_sin ( dis_r) {
        return Math.pow(
                1-Math.sin(
                  0.5*Math.PI*(dis_r)),1.8) * 0.75 
               + 0.25;
      }
      function trans_func_sin_sq( dis_r ) {
        return Math.pow(Math.cos(0.5*Math.PI*dis_r),1.3);
      }

      function trans_func_log( dis_r ) {
        var b_r = 2*dis_r-1;
        if( b_r < 0 ){
          return 1-(-Math.pow(-b_r,0.25)+1)/2;
        } else {
          return 1-(Math.pow(b_r,0.25)+1)/2;
        }
      }

      // 
      // 越靠近0缩小的比例越大
      // 越靠近边缘膨胀的比例越大
      // 
      var multi_500 = multi(500);
      ctx.strokeStyle='#f00';
      draw_line(ctx, _.range(0,1.1,0.1)
        .map(function( pos ) {
          return [pos,1-trans_func_reverse_sqrt(pos)]
                  .map(multi_500);
        }));
      ctx.strokeStyle='#ff0';
      draw_line(ctx, _.range(0,1.1,0.1)
        .map(function( pos ) {
          return [pos,1-trans_func_reverse(pos)]
                   .map(multi_500);
        }));
      ctx.strokeStyle='#f0f';
      draw_line(ctx, _.range(0,1.1,0.1)
        .map(function( pos ) {
          return [pos,1-trans_func_cos(pos)]
                   .map(multi_500);
        }));
      ctx.strokeStyle='#00f';
      draw_line(ctx, _.range(0,1.1,0.1)
        .map(function( pos ) {
          return [pos,1 - trans_func_sin_sq(pos)]
                   .map(multi_500);
        }));
      ctx.strokeStyle='#0ff';
      draw_line(ctx, _.range(0,1.1,0.1)
        .map(function( pos ) {
          return [pos,1 - trans_func_sin(pos)]
                   .map(multi_500);
        }));
      ctx.strokeStyle='#88f';
      draw_line(ctx, _.range(0,1.1,0.1)
        .map(function( pos ) {
          return [pos,1 - trans_func_log(pos)]
                   .map(multi_500);
        }));
    </script>
  </body>
</html>