<html>
  <head>
    <meta charset="UTF8">
    <style>
      html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      body{
        display: flex;
        justify-content:center;
        align-items:center;
      }
    </style>
  </head>
  <body>

    <canvas height="500px" width="500px" id="target"></canvas>
    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    
    <script src="../js/draws.js"></script>
    <script src="../js/math_utils.js"></script>
    <script src="../js/pixels.js"></script>
    <script src="../js/shape_utils.js"></script>
    <script src="../js/distortions.js"></script>
    <script src="../js/resources.js"></script>

<script>
  var canvas = document.getElementById('target');
  var ctx = canvas.getContext('2d');
  load_imgs([
    '../imgs/25791422844829123.JPG',
    '../imgs/mask.png'
  ],function( err, imgs ) {
    var source = imgs[0];
    var mask = imgs[1];
    var sd_l = 500;
    var source_data = get_img_data(source,sd_l,sd_l);
    var mask_data   = get_img_data(mask,sd_l,sd_l);
    var t_chip = new chip(0,0,sd_l,sd_l);
    var target_data = ctx.createImageData(sd_l,sd_l);
    copy_imgdata(source_data,target_data);

    function draw ( frame ) {
      console.time('start frame');
      t_chip.walk(function( x, y ) {
        var mask  = get_pixel_2( mask_data, x, y, 0);
        if( x == 200 && y == 200 && frame == 230 ){
          debugger
        }
        var masked = trans_line_2( 0, 255, 0, frame, 
                      (mask < 0.8 * frame) ? 0 : mask);
        set_pixel_2( target_data, x, y, 3, masked );
      });
      ctx.putImageData(target_data,0,0);
      console.timeEnd('start frame');
    }

    var last;
    var frame = 0;
    requestAnimationFrame(function() {
      var now = Date.now();
      var self = arguments.callee;
      if( (last && (now - last > 30))|| !last ){
        if( frame > 255 ){
          return;
        }
        draw( frame );
        frame += 5;
        last = Date.now();
      }
      requestAnimationFrame(self,canvas);
    },canvas);
  });
</script>

  </body>
</html>