<html>
  <head>
    <meta charset="UTF8">
    <style>
      html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      body{
        display: flex;
        justify-content:center;
        align-items:center;
      }
    </style>
  </head>
  <body>

    <canvas height="500px" width="500px" id="target"></canvas>
    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/underscore.js/1.7.0/underscore-min.js"></script>
    
    <script src="../js/draws.js"></script>
    <script src="../js/math_utils.js"></script>
    <script src="../js/pixels.js"></script>
    <script src="../js/shape_utils.js"></script>
    <script src="../js/distortions.js"></script>
    <script src="../js/resources.js"></script>

    <script>
      var canvas = document.getElementById('target');
      var ctx = canvas.getContext('2d');
      var img = new Image;
      img.onload=function() {
        ctx.drawImage(img,
          0,0,img.width,img.height,
          0,0,500,500);
      };
      img.src='../imgs/25791422844829123.JPG';
    </script>
  </body>
</html>